
[submodule "data/repos/werkzeug"]
	path = data/repos/werkzeug
	url = https://github.com/pallets/werkzeug.git
[submodule "data/repos/click"]
	path = data/repos/click
[submodule "data/repos/flask"]
	path = data/repos/flask
[submodule "data/repos/pallets-sphinx-themes"]
	path = data/repos/pallets-sphinx-themes
[submodule "data/repos/website"]
	path = data/repos/website
